<footer id="footer" class="footer">
  <div class="container footer-container">
    <div class="footer-main-section">
      <a class="footer-logo" href="/index.html">
        Evgen<span>Kulbachenko.</span>
      </a>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-social-link social-link"
            href="https://t.me/Eevgen_Kul"
            target="_blank"
            >Telegram</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link social-link"
            href="https://www.linkedin.com/in/evgen-kulbachenko-developer/"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link social-link"
            href="https://github.com/EevgenK"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-copyright">
      &#169; Copyright 2024. Made by EvgenKulbachenko
    </p>
  </div>
</footer>
